*{
	font-family: 'Oswald', sans-serif;
}

.app-container{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row, nowrap;
}

.panel{
	width: 20%;
	height: 100%;
	order: 1;
	background: #141414;
}

.canvas-container{
	width: 80%;
	height: 100%;
	order: 2;
}

.tools-container{
	display: flex;
	flex-flow: row, nowrap;
	padding: 12px;
}

.tool{
	color: #5c5c5c;
	width: 50%;
	text-align: center;
}

h1{
	width: 100%;
	text-align: center;
	color: #ffd700;
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
}

h2{
	color: #5c5c5c;
	text-align: center;
	font-weight: bold;
}